<!DOCTYPE html>
<html lang="pt-br" ng-app="MicroGerApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Botões bootstrap</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="app/js/bootstrap/css/estilo.css">
  <link rel="stylesheet" href="app/js/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="app/js/bootstrap/css/bootstrap-theme.min.css">


  <!-- Angular 
    <script src="app/js/lib/angular.min.js"></script>
    <script src="app/js/lib/angular-route.min.js"></script>
    <script src="app/app.js"></script>
-->
</head>

<body>

  <div class="container">

    <div class="page-header">
      <h1>Logo</h1>
    </div>

    <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <a class="btn btn-default btn-block" href="cadastroProduto.html">Cadastro produto</a>
        <a href="CadastroCompra.html" class="btn btn-default btn-block">Cadastro Compra</a>
        <a href="TabelaProduto.html" class="btn btn-default btn-block">Visualizar Estoque</a>


      </div>
      <div class="col-sm-4">


      </div>
    </div>
    <!-- row -->

  </div>





  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="bootstrap/js/bootstrap.min.js"></script>
</body>

</html>