{% extends "masterpage.html" %}

	{% block title %}Cadastro Produto{% endblock %}

	{% block content %}

		<section class="container">
	    	    
			<div class="tituloPagina col-md-offset-4">
                <h1>Cadastro de Produto</h1>
            </div>

            <div class="col-md-4 col-md-offset-4">

                <form action="" method="POST">
                	
                  {{ form.csrf_token }}
                  <div class="form-group">
                    <label>Nome Produto</label>
                    {{ form.nome(class="form-control", placeholder="nome do produto") }}

                  </div>
                  <div class="form-group">
                    <label>Unidade Medida </label>
                   {{ form.unidade_medida(class="form-control") }}

                  </div>
                 <div class="form-group">
                    <label>Quantidade mínima</label>
                    {{ form.quantidade_minima(class="form-control", type="number") }}
                 </div>

                  <button type="submit" class="btn btn-default">Cadastrar</button>
                </form>
            </div>

		</section>
	
	{% endblock %}




